*{
    margin: 0%;
    padding: 0%;
}

body{
    max-width: 100%;
    background-color: rgb(49, 39, 39);
}

header{
    display: flex;
    justify-content: space-between;
}

.homepage{
    background-image: url(bgimg.jpg);
    background-size: 100%;
    opacity: 0.8;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
}

.intro{
    color: white;
    text-align: center;
    font-size: 25px;
    margin-top: 5cm;
}

.sign-in{
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    box-shadow: none;
    border-color: red;
    text-align: center;
    display: flex;
}

.e-mail{
    background-color: white;
    color: rgb(34, 24, 24);
    width: 400px;
    height: 45px;
    box-shadow: none;
    border-color: bisque;
}

.em-btn{
    text-align: center;
}

.gs-btn{
    background-color: red;
    color: white;
    box-shadow: none;
    width: 250px;
    height: 45px;
    border-color: red;
}

.logo{
    width: 100px;
    height: 50px;
    display: flex;
}

.secondslide{
    background-color: black;
    color: white;
    margin-top: 0.2cm;   
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 80%;
    position: absolute;
    align-items: center;
}

.text{
    font-size: 30px;
}

.tv{
    width: 500px;
}

.thirdslide{
     background-color: black;
     color: white;
     margin-top: 14.47cm;
     display: flex;
     justify-content: space-around;
     max-width: 100%;
     max-height: 100%;
     width: 100%;
     height: 80%;
     position: absolute;
     align-items: center;
}

.ts-text{
    font-size: 30px;
}

.fourthslide{
    background-color: black;
    color: white;
    margin-top: 21.60cm;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 50%;
    font-size: 30px;
    align-items: baseline;
}

.fifthslide{
    background-color: black;
    color: white;
    margin-top: 41.85cm;
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 90%;
}
 .fis-text{
    font-size: 30px;
 }

 .sixthslide{
     background-color: black;
     color: white;
     margin-top: 71cm;
     position: absolute;
     align-items: center;
     max-width: 100%;
     width: 100%;
     font-size: 30px;
     display: flex;
     flex-direction: column;
}

.questions summary::marker{
      content: "";
}

.questions details{
       align-items: center;
       background-color: rgb(37, 27, 27);
       height: 50px;
       width: 600px;
       margin-top: 10px;       
}

.em-btn2{
     text-align: center;
     margin: 10px;
}

h6{
    margin: 30px;
}

 .e-mail2{
      background-color: white;
      color: rgb(22, 15, 15);
      width: 400px;
      height: 45px;
      box-shadow: none;
      border-color: bisque
 }

 .gs-btn2{
    background-color: red;
    color: white;
    box-shadow: none;
    width: 250px;
    height: 45px;
    background-color: red;
}

.seventhslide{
    background-color: black;
    color: white;
    margin-top: 93.3cm;
    max-height: 100%;
    display: flex;
    position: absolute;
    width: 100%;
    height: 50%;

}

ul{
    display: flex;
    list-style-type: none;
}

li{
    margin-right: 60px;
}
@media screen and (max-width:400px){
    .secondslide{
        background-color: black;
        color: white;
        margin-top: 0.2cm;   
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 80%;
        position: absolute;
        align-items: center;
    }
    
    .text{
        font-size: 12px;
    }
    
    .tv{
        width: 200px;
    }
       
}